doctype 5
HTML
	HEAD
		| <meta charset="utf-8"/>
		title #{title}
		
		block styles
			link(href="/bootstrap/css/bootstrap.css", rel="stylesheet")
			style
				body {
					padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
				}
			link(href="/bootstrap/css/bootstrap-responsive.css", rel="stylesheet")

		| <meta name="viewport" content="width=device-width, initial-scale=1"/>
	BODY
		block navbar
		HEADER
			.navbar.navbar-fixed-top
				#logo 
					p mobvite
				#login 
					p register or login and navigation
		.container
			block content
				p no content yet
		block scripts
