body {
	color: rgb(60,60,60);
}

#event {
	width: 344px;
	padding: 24px;
	position: fixed;
	top: 34px;
	background: #ffa;
	border-radius: 15px;
	moz-border-radius: 15px;
}

#posts {
	width: 528px;
	padding: 24px;
	float: right;
}

#loginForm {
	visibility: hidden;
}

